/* Custom styles for the blog */

/* Last modified date styling */
.last-modified {
  font-size: 0.9em;
  font-style: italic;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  margin-top: -8px;
  margin-bottom: 10px;
  
  &:hover {
    opacity: 1;
  }
}

.last-modified:before {
  content: "";
} 
